@model QuizApplication.WebApp.ViewModels.AddQuestion_VM

@{
    ViewData["Title"] = "CreateQuestion";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1>Create question for @ViewBag.Quiz.QuizName Quiz</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateQuestion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.QuizId)
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label">Question</label>
                <input asp-for="QuestionText" class="form-control"  />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="QuestionAnswer"></label>
                <input asp-for="QuestionAnswer" class="form-control"  />
                <span asp-validation-for="QuestionAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="QuestionChoiceA"></label>
                <input asp-for="QuestionChoiceA" class="form-control"  />
                <span asp-validation-for="QuestionChoiceA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="QuestionChoiceB"></label>
                <input asp-for="QuestionChoiceB" class="form-control "  />
                <span asp-validation-for="QuestionChoiceB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="QuestionChoiceC"></label>
                <input asp-for="QuestionChoiceC" class="form-control"  />
                <span asp-validation-for="QuestionChoiceC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Quizzes">Quizzes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

