<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuizApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body style="height: 100%;" class="">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow ">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">QuizApplication</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Quiz" asp-action="Index">Quizzes</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="c-app-container">
        <aside class="c-app-aside">
            <nav style="width: 100%;">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item c-app-navigation-ul-item ">
                        <a class="nav-link c-app-navigation-link " asp-controller="Dashboard" asp-action="Subjects">subjects</a>
                    </li>

                    <li class="nav-item c-app-navigation-ul-item">
                        <a class="nav-link c-app-navigation-link" asp-controller="Dashboard" asp-action="Quizzes">Quiz</a>
                    </li>
                    <li class="nav-item c-app-navigation-ul-item">
                        <a class="nav-link c-app-navigation-link" asp-controller="Admin" asp-action="IndexUsers">User Management</a>
                    </li>
                    <li class="nav-item c-app-navigation-ul-item">
                        <a class="nav-link c-app-navigation-link" asp-controller="Admin" asp-action="IndexRoles">Roles Management</a>
                    </li>

                </ul>
            </nav>
        </aside>
        <main class="c-app">
            @RenderBody()
        </main>
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>