@model QuizApplication.WebApp.ViewModels.EvaluationVM


<h1 class="mb-4" style="font-weight:bold;">@Model.QuizName</h1>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.QuizId);
    @Html.HiddenFor(m => m.QuizName);
    @await Html.PartialAsync("_Questions", Model)
    <input type="submit" class="btn btn-primary mt-2 mb-5" />
}

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}






