@model QuizApplication.Models.Quiz
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="detailpage">
    <main class="mainDetail">
        <h1>
            @Html.DisplayFor(model => model.QuizName)
        </h1>

        <p class="descriptionDetail">
            @Html.DisplayFor(model => model.Description)
        </p>
        <div class="extra">
            <p style="align-self: flex-start; margin: 0;">Difficulty: Beginner</p>
            @if (User.IsInRole("Admin"))
            {
        <div style="display:flex; flex-direction:column;">
            <a asp-action="Edit" asp-route-id="@Model.QuizID">Edit quiz</a>
            <a asp-action="Index" asp-controller="Question" asp-route-id="@Model.QuizID">Questions</a>
        </div>
            }
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <button type="button" class="btn btn-primary btn-lg btn-block"
                    style="max-width: 400px;background-color: rgb(0, 81, 255); margin-bottom:5px;">
                Play quiz!
            </button>
        }

    </main>

</div>






